<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Blog</title>
</head>
<body>
    <center>
        <h1>Edit Blog</h1>

        <form method="POST">
            {% csrf_token %}

            <label>Title:</label><br>
            <input type="text" name="title" value="{{ blog.title }}"><br><br>

            <label>Description:</label><br>
            <textarea name="description">{{ blog.description }}</textarea><br><br>

            <button type="submit">Update</button>
        </form>

    </center>
</body>
</html>